In [225]:
# Data Processing Kualitas Udara
# Menggunakan Jupyter Notebook on vscode

In [226]:
# Memasukan dataset ke dalam dataframe Pandas

import pandas as pd

df = pd.read_csv('AQI and Lat Long of Countries.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16695 entries, 0 to 16694
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Country             16393 non-null  object
 1   City                16695 non-null  object
 2   AQI Value           16695 non-null  int64
 3   AQI Category        16695 non-null  object
 4   CO AQI Value        16695 non-null  int64
 5   CO AQI Category     16695 non-null  object
 6   Ozone AQI Value     16695 non-null  int64
 7   Ozone AQI Category  16695 non-null  object
 8   NO2 AQI Value       16695 non-null  int64
 9   NO2 AQI Category    16695 non-null  object
 10  PM2.5 AQI Value     16695 non-null  int64
 11  PM2.5 AQI Category  16695 non-null  object
 12  lat                 16695 non-null  float64
 13  lng                 16695 non-null  float64
dtypes: float64(2), int64(5), object(7)
memory usage: 1.8+ MB

In [227]:
# Menampilkan Kolom

df.columns

Index(['Country', 'City', 'AQI Value', 'AQI Category', 'CO AQI Value',
       'CO AQI Category', 'Ozone AQI Value', 'Ozone AQI Category',
       'NO2 AQI Value', 'NO2 AQI Category', 'PM2.5 AQI Value',
       'PM2.5 AQI Category', 'lat', 'lng'],
      dtype='object')

In [228]:
# Buat Data baru
data1 = df[['Country', 'City','AQI Value','AQI Category','lat', 'lng']]

In [229]:
data1.head(10)

,Country,City,AQI Value,AQI Category,lat,lng
0,Russian Federation,Praskoveya,51,Moderate,44.7444,44.2031
1,Brazil,Presidente Dutra,41,Good,-5.2900,-44.4900
2,Brazil,Presidente Dutra,41,Good,-11.2958,-41.9869
3,Italy,Priolo Gargallo,66,Moderate,37.1667,15.1833
4,Poland,Przasnysz,34,Good,53.0167,20.8833
5,United States of America,Punta Gorda,54,Moderate,16.1005,-88.8074
6,United States of America,Punta Gorda,54,Moderate,26.8941,-82.0513
7,Belgium,Puurs,64,Moderate,51.0761,4.2803
8,Russian Federation,Pyatigorsk,54,Moderate,44.0500,43.0667
9,China,Qinzhou,68,Moderate,21.9500,108.6167

In [230]:
# Melakukan pengecekan data null dan menghapusnya

data1.isnull().sum()

Country         302
City              0
AQI Value         0
AQI Category      0
lat               0
lng               0
dtype: int64

In [231]:
drop_na = data1.dropna().reset_index(drop=True)
drop_na.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16393 entries, 0 to 16392
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Country       16393 non-null  object
 1   City          16393 non-null  object
 2   AQI Value     16393 non-null  int64
 3   AQI Category  16393 non-null  object
 4   lat           16393 non-null  float64
 5   lng           16393 non-null  float64
dtypes: float64(2), int64(1), object(3)
memory usage: 768.6+ KB

In [232]:
# Menghitung Duplicate pada Kolom Country & City
dup = len(drop_na['City'])-len(drop_na['City'].drop_duplicates())
print('Terdapat duplicate pada kolom Country dan City', dup)

Terdapat duplicate pada kolom Country dan City 2437

In [233]:
drop_dup = drop_na.drop_duplicates(subset=["Country", "City"], keep='first')
drop_dup.head(10)

,Country,City,AQI Value,AQI Category,lat,lng
0,Russian Federation,Praskoveya,51,Moderate,44.7444,44.2031
1,Brazil,Presidente Dutra,41,Good,-5.2900,-44.4900
3,Italy,Priolo Gargallo,66,Moderate,37.1667,15.1833
4,Poland,Przasnysz,34,Good,53.0167,20.8833
5,United States of America,Punta Gorda,54,Moderate,16.1005,-88.8074
7,Belgium,Puurs,64,Moderate,51.0761,4.2803
8,Russian Federation,Pyatigorsk,54,Moderate,44.0500,43.0667
9,China,Qinzhou,68,Moderate,21.9500,108.6167
10,Netherlands,Raalte,41,Good,52.3833,6.2667
11,France,Raismes,59,Moderate,50.3892,3.4858

In [234]:
# Mengubah dataframe menjadi file pickle

import pickle

drop_dup.to_pickle('df_use.pickle')

In [248]:
drop_dup['AQI Category'].value_counts()

AQI Category
Good                              6497
Moderate                          5788
Unhealthy                          767
Unhealthy for Sensitive Groups     735
Very Unhealthy                     120
Hazardous                           49
Name: count, dtype: int64